[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brant"]
	path = brant
	url = https://github.com/cran/brant
[submodule "glm.predict"]
	path = glm.predict
	url = https://github.com/benjaminschlegel/glm.predict
